---
import type { CollectionEntry } from "astro:content";
import { DateTime } from "luxon";

function formatDate(date: Date | undefined) {
    if (!date) return "Sem modificações";

    let dt = DateTime.fromJSDate(date);
    return `${dt.setLocale("pt-br").toRelativeCalendar()}`;
}

type News = CollectionEntry<"noticias">;
type Frontmatter = News["data"];

interface Props {
    type: string;
    frontmatter: Frontmatter;
}

const { frontmatter, type } = Astro.props;
---

<aside class="metada">
    <div class="metadata-item">
        <small>Escrita em: </small>
        <time datetime={`${frontmatter.pubDate}`}
            >{formatDate(frontmatter.pubDate)}</time
        >
    </div>

    {
        frontmatter.updatedDate && (
            <div class="metadata-item">
                <small>Modificada em: </small>
                <time datetime={`${frontmatter.updatedDate}`}>
                    {formatDate(frontmatter.updatedDate)}
                </time>
            </div>
        )
    }

    <div class="metadata-item">
        <small>tags:</small>
        <div class="tags-list">
            {
                frontmatter.tags.map((tag: string) => (
                    <a href={`/${type}/tags/${tag}/`}>{tag}</a>
                ))
            }
        </div>
    </div>

    <div class="metadata-item">
        <small>Escrito por <a href="">{frontmatter.author}</a></small>
    </div>
</aside>

<style>
    .metada {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .metadata-item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .tags-list {
        display: flex;
        gap: 0.5rem;
    }

    /* Estilização para as tags */
    .tags-list a {
        background-color: #f5ff9e;
        padding: 0.25rem 0.55rem;
        text-decoration: none;
        color: #333;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .tags-list a:hover {
        background-color: #e0e0e0;
    }
</style>
